#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 40px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}
#economy_map{
	top: 100px;
	bottom: 100px;
	left: 70px;
	right: 100px;
}
#vis3{
	left: 35px;
}
#vis4{
	top:100px;
	bottom: 100px; 
	left: 40px;
	right: 100px;
}

#vis5{
	top:100px;
	bottom: 100px; 
	left: 200px;
	right: 100px;
}
#vis7{
	left: 35px;
}

